{
  "openapi": "3.0.3",
  "info": {
    "title": "AI Agent SaaS Platform API",
    "description": "Comprehensive API for AI Agent hosting platform with marketplace, organizations, and runtime management",
    "version": "1.0.0",
    "contact": {
      "name": "Platform Team",
      "email": "api@aiagentplatform.com"
    }
  },
  "servers": [
    {
      "url": "https://api.aiagentplatform.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.aiagentplatform.com/v1",
      "description": "Staging server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User registration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or domain blocked"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Refresh access token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "tags": ["Organizations"],
        "summary": "List user organizations",
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organizations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Organizations"],
        "summary": "Create organization",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{orgId}": {
      "get": {
        "tags": ["Organizations"],
        "summary": "Get organization details",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Organizations"],
        "summary": "Update organization",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{orgId}/users": {
      "get": {
        "tags": ["Organizations"],
        "summary": "List organization users",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrganizationUser"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Organizations"],
        "summary": "Invite user to organization",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User invited"
          }
        }
      }
    },
    "/agents": {
      "get": {
        "tags": ["Agents"],
        "summary": "List agents",
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["created", "platform_default"]
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Agents"],
        "summary": "Create agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agentId}": {
      "get": {
        "tags": ["Agents"],
        "summary": "Get agent details",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Agents"],
        "summary": "Update agent",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Agents"],
        "summary": "Delete agent",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Agent deleted"
          }
        }
      }
    },
    "/agents/{agentId}/enable": {
      "post": {
        "tags": ["Agents"],
        "summary": "Enable agent",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "402": {
            "description": "Payment required"
          }
        }
      }
    },
    "/agents/{agentId}/disable": {
      "post": {
        "tags": ["Agents"],
        "summary": "Disable agent",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{agentId}/execute": {
      "post": {
        "tags": ["Agent Execution"],
        "summary": "Execute agent",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent execution result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentExecutionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agents/execute": {
      "post": {
        "tags": ["Agent Execution"],
        "summary": "Execute multiple agents in integration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiAgentExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Multi-agent execution result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiAgentExecutionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/agents": {
      "get": {
        "tags": ["Marketplace"],
        "summary": "Browse marketplace agents",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pricing",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["free", "paid", "subscription", "usage_based"]
            }
          },
          {
            "name": "rating",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Marketplace agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MarketplaceAgent"
                      }
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/agents/{agentId}": {
      "get": {
        "tags": ["Marketplace"],
        "summary": "Get marketplace agent details",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent marketplace details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceAgentDetail"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/agents/{agentId}/try": {
      "post": {
        "tags": ["Marketplace"],
        "summary": "Try agent demo",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Demo execution result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentExecutionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/agents/{agentId}/purchase": {
      "post": {
        "tags": ["Marketplace"],
        "summary": "Purchase agent",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Purchase successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/marketplace/agents/{agentId}/reviews": {
      "get": {
        "tags": ["Marketplace"],
        "summary": "Get agent reviews",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reviews": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Review"
                      }
                    },
                    "summary": {
                      "$ref": "#/components/schemas/ReviewSummary"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Marketplace"],
        "summary": "Submit agent review",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Review submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Review"
                }
              }
            }
          }
        }
      }
    },
    "/payments/methods": {
      "get": {
        "tags": ["Payments"],
        "summary": "Get payment methods",
        "responses": {
          "200": {
            "description": "Payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "methods": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentMethod"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Payments"],
        "summary": "Add payment method",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPaymentMethodRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment method added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethod"
                }
              }
            }
          }
        }
      }
    },
    "/payments/transactions": {
      "get": {
        "tags": ["Payments"],
        "summary": "Get payment transactions",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/usage/credits": {
      "get": {
        "tags": ["Usage & Billing"],
        "summary": "Get credit balance",
        "responses": {
          "200": {
            "description": "Credit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditBalance"
                }
              }
            }
          }
        }
      }
    },
    "/usage/analytics": {
      "get": {
        "tags": ["Usage & Billing"],
        "summary": "Get usage analytics",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month", "year"]
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageAnalytics"
                }
              }
            }
          }
        }
      }
    },
    "/admin/users": {
      "get": {
        "tags": ["Admin"],
        "summary": "List all users (admin only)",
        "security": [
          {
            "BearerAuth": [],
            "AdminRole": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdminUser"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/organizations": {
      "get": {
        "tags": ["Admin"],
        "summary": "List all organizations (admin only)",
        "security": [
          {
            "BearerAuth": [],
            "AdminRole": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organizations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdminOrganization"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/blocked-domains": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get blocked domains",
        "security": [
          {
            "BearerAuth": [],
            "AdminRole": []
          }
        ],
        "responses": {
          "200": {
            "description": "Blocked domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domains": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Admin"],
        "summary": "Block domain",
        "security": [
          {
            "BearerAuth": [],
            "AdminRole": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain blocked"
          }
        }
      }
    },
    "/admin/system/stats": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get system statistics",
        "security": [
          {
            "BearerAuth": [],
            "AdminRole": []
          }
        ],
        "responses": {
          "200": {
            "description": "System statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemStats"
                }
              }
            }
          }
        }
      }
    },
    "/license/validate": {
      "post": {
        "tags": ["Licensing"],
        "summary": "Validate license",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LicenseValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "License valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicenseValidationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid license"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "AdminRole": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Admin-Role"
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": ["email", "password", "first_name", "last_name"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "organization_name": {
            "type": "string"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "is_individual": {
            "type": "boolean",
            "description": "True if user doesn't belong to an organization"
          },
          "role": {
            "type": "string",
            "enum": ["admin", "staff", "maintainer", "normal"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "owner_id": {
            "type": "string",
            "format": "uuid"
          },
          "subscription_tier": {
            "type": "string",
            "enum": ["free", "pro", "enterprise"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateOrganizationRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "UpdateOrganizationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "OrganizationUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["admin", "staff", "maintainer", "normal"]
          },
          "status": {
            "type": "string",
            "enum": ["active", "invited", "suspended"]
          },
          "joined_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InviteUserRequest": {
        "type": "object",
        "required": ["email", "role"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": ["admin", "staff", "maintainer", "normal"]
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["created", "platform_default"]
          },
          "category": {
            "type": "string"
          },
          "creator_id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "version": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "config": {
            "$ref": "#/components/schemas/AgentConfig"
          },
          "pricing": {
            "$ref": "#/components/schemas/AgentPricing"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_public": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AgentConfig": {
        "type": "object",
        "properties": {
          "llm_provider": {
            "type": "string",
            "enum": ["openai", "anthropic", "google", "local", "azure"]
          },
          "llm_model": {
            "type": "string"
          },
          "embedding_provider": {
            "type": "string",
            "enum": ["openai", "azure", "amazon_q"]
          },
          "max_tokens": {
            "type": "integer"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "system_prompt": {
            "type": "string"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentTool"
            }
          },
          "mcp_servers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MCPServer"
            }
          },
          "resource_limits": {
            "$ref": "#/components/schemas/ResourceLimits"
          }
        }
      },
      "AgentTool": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "MCPServer": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "endpoint": {
            "type": "string"
          },
          "auth": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ResourceLimits": {
        "type": "object",
        "properties": {
          "max_execution_time": {
            "type": "integer",
            "description": "Maximum execution time in seconds"
          },
          "max_memory": {
            "type": "integer",
            "description": "Maximum memory in MB"
          },
          "max_cpu": {
            "type": "number",
            "description": "Maximum CPU cores"
          }
        }
      },
      "AgentPricing": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "enum": ["free", "one_time", "subscription", "usage_based", "credit_based"]
          },
          "price": {
            "type": "number"
          },
          "currency": {
            "type": "string",
            "default": "USD"
          },
          "billing_period": {
            "type": "string",
            "enum": ["monthly", "yearly"],
            "nullable": true
          },
          "usage_unit": {
            "type": "string",
            "nullable": true
          },
          "credits_per_use": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "CreateAgentRequest": {
        "type": "object",
        "required": ["name", "description", "config"],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/AgentConfig"
          },
          "pricing": {
            "$ref": "#/components/schemas/AgentPricing"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_public": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "UpdateAgentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/AgentConfig"
          },
          "pricing": {
            "$ref": "#/components/schemas/AgentPricing"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AgentExecutionRequest": {
        "type": "object",
        "required": ["input"],
        "properties": {
          "input": {
            "type": "string"
          },
          "context": {
            "type": "object",
            "additionalProperties": true
          },
          "session_id": {
            "type": "string",
            "nullable": true
          },
          "stream": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "AgentExecutionResponse": {
        "type": "object",
        "properties": {
          "execution_id": {
            "type": "string",
            "format": "uuid"
          },
          "output": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["completed", "failed", "timeout"]
          },
          "execution_time": {
            "type": "number"
          },
          "credits_used": {
            "type": "integer"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MultiAgentExecutionRequest": {
        "type": "object",
        "required": ["agents", "input"],
        "properties": {
          "agents": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "input": {
            "type": "string"
          },
          "execution_mode": {
            "type": "string",
            "enum": ["sequential", "parallel", "orchestrated"]
          },
          "context": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "MultiAgentExecutionResponse": {
        "type": "object",
        "properties": {
          "execution_id": {
            "type": "string",
            "format": "uuid"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentExecutionResponse"
            }
          },
          "aggregated_output": {
            "type": "string"
          },
          "total_execution_time": {
            "type": "number"
          },
          "total_credits_used": {
            "type": "integer"
          }
        }
      },
      "MarketplaceAgent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "creator": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "avatar": {
                "type": "string"
              }
            }
          },
          "version": {
            "type": "string"
          },
          "pricing": {
            "$ref": "#/components/schemas/AgentPricing"
          },
          "rating": {
            "type": "number",
            "minimum": 0,
            "maximum": 5
          },
          "review_count": {
            "type": "integer"
          },
          "download_count": {
            "type": "integer"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "screenshots": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "demo_available": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MarketplaceAgentDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MarketplaceAgent"
          },
          {
            "type": "object",
            "properties": {
              "detailed_description": {
                "type": "string"
              },
              "documentation": {
                "type": "string"
              },
              "changelog": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ChangelogEntry"
                }
              },
              "requirements": {
                "type": "object",
                "properties": {
                  "minimum_credits": {
                    "type": "integer"
                  },
                  "supported_models": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "demo_config": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        ]
      },
      "ChangelogEntry": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "changes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PurchaseRequest": {
        "type": "object",
        "required": ["pricing_tier"],
        "properties": {
          "pricing_tier": {
            "type": "string"
          },
          "payment_method_id": {
            "type": "string",
            "nullable": true
          },
          "organization_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        }
      },
      "PurchaseResponse": {
        "type": "object",
        "properties": {
          "purchase_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["completed", "pending", "failed"]
          },
          "license": {
            "$ref": "#/components/schemas/License"
          },
          "payment_url": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "License": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "agent_id": {
            "type": "string",
            "format": "uuid"
          },
          "user_id": {
            "type": "string",
            "format": "uuid"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": ["free", "trial", "paid", "enterprise"]
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "usage_limit": {
            "type": "integer",
            "nullable": true
          },
          "usage_count": {
            "type": "integer"
          },
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "user": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "avatar": {
                "type": "string"
              }
            }
          },
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "title": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "verified_purchase": {
            "type": "boolean"
          },
          "helpful_count": {
            "type": "integer"
          },
          "developer_response": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReviewSummary": {
        "type": "object",
        "properties": {
          "average_rating": {
            "type": "number"
          },
          "total_reviews": {
            "type": "integer"
          },
          "rating_distribution": {
            "type": "object",
            "properties": {
              "5": {
                "type": "integer"
              },
              "4": {
                "type": "integer"
              },
              "3": {
                "type": "integer"
              },
              "2": {
                "type": "integer"
              },
              "1": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CreateReviewRequest": {
        "type": "object",
        "required": ["rating"],
        "properties": {
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "title": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["card", "upi", "paypal", "bank_transfer"]
          },
          "details": {
            "type": "object",
            "properties": {
              "last_four": {
                "type": "string"
              },
              "brand": {
                "type": "string"
              },
              "expiry": {
                "type": "string"
              }
            }
          },
          "is_default": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AddPaymentMethodRequest": {
        "type": "object",
        "required": ["type"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["card", "upi", "paypal", "bank_transfer"]
          },
          "token": {
            "type": "string",
            "description": "Payment provider token"
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": ["payment", "refund", "credit_purchase", "usage_charge"]
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "completed", "failed", "cancelled"]
          },
          "description": {
            "type": "string"
          },
          "agent_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreditBalance": {
        "type": "object",
        "properties": {
          "total_credits": {
            "type": "integer"
          },
          "used_credits": {
            "type": "integer"
          },
          "remaining_credits": {
            "type": "integer"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "monthly_allocation": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "UsageAnalytics": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string"
          },
          "total_executions": {
            "type": "integer"
          },
          "total_credits_used": {
            "type": "integer"
          },
          "average_execution_time": {
            "type": "number"
          },
          "success_rate": {
            "type": "number"
          },
          "daily_usage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyUsage"
            }
          },
          "agent_usage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentUsage"
            }
          }
        }
      },
      "DailyUsage": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "executions": {
            "type": "integer"
          },
          "credits_used": {
            "type": "integer"
          }
        }
      },
      "AgentUsage": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string",
            "format": "uuid"
          },
          "agent_name": {
            "type": "string"
          },
          "executions": {
            "type": "integer"
          },
          "credits_used": {
            "type": "integer"
          },
          "average_execution_time": {
            "type": "number"
          }
        }
      },
      "AdminUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "organization_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "organization_name": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["active", "suspended", "deleted"]
          },
          "last_login": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "total_credits_used": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AdminOrganization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "owner_email": {
            "type": "string"
          },
          "subscription_tier": {
            "type": "string"
          },
          "user_count": {
            "type": "integer"
          },
          "agent_count": {
            "type": "integer"
          },
          "total_credits_used": {
            "type": "integer"
          },
          "monthly_revenue": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": ["active", "suspended", "deleted"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SystemStats": {
        "type": "object",
        "properties": {
          "total_users": {
            "type": "integer"
          },
          "total_organizations": {
            "type": "integer"
          },
          "total_agents": {
            "type": "integer"
          },
          "total_executions": {
            "type": "integer"
          },
          "active_users_today": {
            "type": "integer"
          },
          "total_revenue": {
            "type": "number"
          },
          "system_health": {
            "type": "object",
            "properties": {
              "cpu_usage": {
                "type": "number"
              },
              "memory_usage": {
                "type": "number"
              },
              "disk_usage": {
                "type": "number"
              },
              "api_response_time": {
                "type": "number"
              }
            }
          }
        }
      },
      "LicenseValidationRequest": {
        "type": "object",
        "required": ["license_key"],
        "properties": {
          "license_key": {
            "type": "string"
          },
          "hardware_id": {
            "type": "string",
            "nullable": true
          },
          "deployment_type": {
            "type": "string",
            "enum": ["on_premise", "cloud", "hybrid"]
          }
        }
      },
      "LicenseValidationResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "license_type": {
            "type": "string",
            "enum": ["trial", "standard", "enterprise", "unlimited"]
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "max_users": {
            "type": "integer",
            "nullable": true
          },
          "max_agents": {
            "type": "integer",
            "nullable": true
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restrictions": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "per_page": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and authorization"
    },
    {
      "name": "Organizations",
      "description": "Organization management"
    },
    {
      "name": "Agents",
      "description": "AI agent management"
    },
    {
      "name": "Agent Execution",
      "description": "Agent execution and runtime"
    },
    {
      "name": "Marketplace",
      "description": "Agent marketplace and discovery"
    },
    {
      "name": "Payments",
      "description": "Payment processing and billing"
    },
    {
      "name": "Usage & Billing",
      "description": "Usage tracking and analytics"
    },
    {
      "name": "Admin",
      "description": "Platform administration"
    },
    {
      "name": "Licensing",
      "description": "License management for on-premise deployments"
    }
  ]
}